.cp {
    img {
        &.float_left {
            float: left;
            margin: 0px 1em 1em 0;
            max-width: 55%;
            @include screen('mobile') {
                float: none;
                margin: 0px auto 1em;
                max-width: 100%;
            }
        }
        &.float_right {
            float: right;
            margin: 0px 0 1em 1em;
            max-width: 55%;
            @include screen('mobile') {
                float: none;
                margin: 0px auto 1em;
                max-width: 100%;
            }
        }
    }
    a {
        color: $aHover;
        &:hover, &:focus {
            color: lighten($aHover, 10);
        }
    }
    .info {
        @include clearfix;
        font-size: 0.938em;
        line-height: 1.5em;
        list-style: none;
        margin: 0 0 1em 0;
        border-left: solid 5px $primaryColor;
        @include box-sizing;
        padding: 0.8em 1.5em 0.8em;
        background: #F2F2F2;
        overflow:hidden;
        li {
            width: 48%;
            float: left;
            display: block;
            margin-bottom: .2em;
            font-size: 0.875em;
            @include screen('mobile') {
                width: 100%;
            }
        }
    }
}