.lp {
    table {
        td {
            text-align: left;
            &.date {
                text-align: center;
                color: #666;
                @include screen('mobile') {
                    text-align: left;
                }
            }
            &.num {
                text-align: center;
                color: #666;
                @include screen('mobile') {
                    text-align: left;
                }
            }
        }
    }
    .list {
        ul,
        ol {
            list-style-type: none;
            padding: 0;
            border-top: 2px solid $primaryColor;
            li {
                padding: 1em 0;
                border-bottom: 1px solid #DDD;
                position: relative; // outline: 1px solid blue;
                a {
                    display: block;
                    padding-left: 2em;
                    position: relative;
                    line-height: 1.45em;
                    .num {
                        width: 1.5em;
                        text-align: right;
                        position: absolute;
                        top: 0;
                        left: 0;
                        &:after {
                            content: ".";
                            display: inline-block;
                        }
                    }
                }
                span.dept {
                    display: inline-block;
                    font-size: .938em;
                    @include screen("mobile") {
                        display: block;
                    }
                }
                time {
                    display: block;
                    color: #AAA;
                    font-size: .938em;
                }
            }
        }
    }
    .album,
    .book {
        margin: 1em auto;
        overflow: hidden;
        ul {
            padding: 0;
            margin: 0;
            list-style: none;
            li {
                @include make-xs-column(12);
                @include make-sm-column(4);
                @include make-md-column(4);
                @include make-lg-column(4);
                @include gutter();
                height: 410px;
                overflow: hidden;
                padding: 1em;
                margin-bottom: 1em;
                @include screen('mobile') {
                    height: auto;
                }
                &:hover,
                &:focus {
                    background: #F2F2F2;
                }
                a {
                    display: block;
                    text-align: center;
                    position: relative;
                    height: 100%;
                    padding-bottom: 1em;
                    img {
                        transition: .3s ease-out;
                    }
                    &:hover,
                    &:focus {
                        img {
                            transform: scale(1.2);
                        }
                    }
                }
                .caption {
                    height: 3.5em;
                    overflow: hidden;
                    display: block;
                    margin: 1em 0 0;
                    h3 {
                        margin: 0;
                        line-height: 1.5em;
                        color: $secondaryColor;
                        text-align: left;
                    }
                }
                .imgOuter {
                    width: 100%;
                    @include aspect-ratio(4, 3);
                    iframe {
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        width: 100%;
                        height: 100%;
                    }
                }
                time {
                    text-align: left;
                    display: block;
                    font-size: .813em;
                    margin: .5em 0;
                    i {
                        margin-right: 5px;
                    }
                }
            }
        }
    }
    .video {
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            li {
                @include make-xs-column(12);
                @include make-sm-column(4);
                @include make-md-column(4);
                @include make-lg-column(4);
                @include gutter();
                margin-bottom: 20px;
                min-height: 27em;
                @include screen('mobile') {
                    min-height: auto;
                }
                .youtube {
                    @include aspect-ratio(4, 3);
                    margin-bottom: .5em;
                    iframe {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                    }
                }
                h3 {
                    margin-bottom: 5px;
                    max-height: 2.7em;
                    line-height: 1.35em;
                    overflow: hidden;
                    display: block;
                    margin-top: 5px;
                }
                p{
                    height: 4.5em;
                    line-height: 1.5em;
                    display: block;
                    overflow: hidden;
                    color:#555;
                }
                .info {
                    color: #555;
                    margin-bottom: 5px;
                    font-size: .750em;
                    padding: .4em .8em;
                    background: #dedede;
                    @include border-radius(4px);
                }
            }
        }
    }
}

.advanced_search {
    clear: both;
    @include border-radius(6px);
    border: 3px solid lighten($primaryColor, 30);
    margin-bottom: 1em;
}

.advanced_search_bar {
    background: #F1F1F1;
    padding: .5em;
    @include border-radius(4px);
    clear: both;
    overflow: hidden;
    margin: .5em 0;
    text-align: center;
}

.btn_advanced_search {
    min-width: auto;
    padding-left: 1em !important;
    padding-right: 1em !important;
}

.form_content .form_grp {
    border: none;
    padding: 0;
}